body {
  font-family: "Arial", "Meiryo", sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 0;
}

h1 {
  font-family: Josefin Sans, sans-serif;
  font-size: 40px;
  font-weight: normal;
  text-shadow: 2px 1px 2px #c5c5c5;
  margin: 0;
  letter-spacing: 50px;
  border-bottom: 3px solid rgb(115, 115, 114);
}

span:nth-child(1) {
  color: skyblue;
}

span:nth-child(2) {
  color: rgb(255, 192, 203);
}

h2:nth-of-type(odd)  {
  color: rgb(255, 192, 203);
}

h2:nth-of-type(even)  {
  color: skyblue;
}

div p {
  font-weight: bold;
}